.navbar-bran:hover {
  color: #fff;
  border-bottom: 3px solid #fff;
}

body {
  background: url(./components/images/pexels-christina-morillo-1181244.jpg)
    no-repeat fixed;
  background-size: cover;
}
.fondo-two {
  background: url(./components/images/pexels-pixabay-276452.jpg) no-repeat fixed;
  background-size: cover;
}
h1,
p,
label {
  color: #fff;
  text-shadow: #111 2px 2px 5px;
}
.navbar-bran {
  text-decoration: none;
  color: #fff;
}
.nav {
  background-color: #222;
  opacity: 0.9;
}
.div {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.color {
  color: #000;
}
.color:hover {
  color: #000;
  border-bottom: 3px solid #000;
}
.bg {
  background-color: #fff;
  opacity: 0.9;
}
